<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        td {
            border-bottom: 1px solid #ddd;
        }
        th {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h1>Customer List</h1>
<table>
    <tr>
        <th> <strong>Customer ID</strong> </th>
        <th> <strong>Name</strong> </th>
        <th> <strong>Email</strong> </th>
        <th> <strong>Address</strong> </th>
        <th> <strong>City</strong> </th>
    </tr>

    <tr th:each="customer : ${customerList}">
        <td>
            <a th:href="@{/customers/{id}(id=${customer.customerId})}"
               th:text="${customer.customerId}">
            </a>
        </td>
        <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.city}"></td>
    </tr>
</table>
</body>
</html>